.leftNavBar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #efefef;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 124px 15px 0;  
  color: #857437;
  flex-direction: column;
  box-shadow: inset -1px 0 0 rgb(0 0 0 / 10%);
}

.leftNavLink {
  font-weight: 400;
  color: #857437;
  text-align: center;
  margin-right: 0.5rem;
  line-height: 2;
}

.leftNavLink.active {
    color: #000000;
}