.topNavBar {
    padding: 1rem;
}

.topNavLink {
    font-weight: 400;
    color: #004f9f;
    text-align: center;
    margin-right: 0.5rem;
}

.topNavLink.active {
    color: #fff;
    background-color: #004f9f;
}